/* Place CSS styles here */
/* this class is needed to visually hide text from sighted users */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
  }

  body {
    background-color: rgb(255, 148, 184);
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
@keyframes SlideIn {
  from {
    transform: translateX(-800px);
  }
  to {
    transform: translateX(0);
  }
}

  /* HEADER */
  .hannah-header-wrapper,
  .hannah-main-content-wrapper,
  .hannah-footer-wrapper {
    max-width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .hannah-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    text-align: center;
  }
  
  .hannah-logo {
    width: 100px;
  }
  
  .hannah-main-nav {
    display:inline-flex;
    gap: 16px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
  }
  
  .hannah-main-nav a {
    text-decoration: none;
    color: #ff0048;
    transition: all ease .25s;
    
  }
  
  .hannah-main-nav a:hover {
    color: rgb(0, 0, 0);
  }
  
  .hannah-intro {
      background:
        linear-gradient(
          rgba(255, 0, 204, 0.75),
          rgba(255, 0, 43, 0.75)
        ),
        url(../img/heart-water-splash.jpeg);
      padding-top: 150px;
      padding-bottom: 150px;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  
  .hannah-social-link:hover {
    border: 1px solid black;
  }
  
  .hannah-social-links {
    display: flex;
    gap: 16px;
  }
  
  .hannah-social-link-image {
    width: 32px;
  }
  
  .hannah-team-list {
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 4px;
  }
  
  @media (max-width: 999px) {
    .hannah-team-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
  
  .hannah-team-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: opacity(100);
    text-decoration: none;
  }
  
  .hannah-team-list a:hover {
    filter: opacity(.5);
  }
  
  .hannah-team-list p {
    font-size: 20px;
  }
  
  .hannah-contact-form {
    border: 3px solid black;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 0, 204, 0.206);
    color: #ff0048;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
  }
  
  .hannah-feature-content {
    display: flex;
    gap: 40px;
  }
  
  .hannah-feature-image {
    max-width: 250px;
  }
  
  .hannah-feature-images {
    display: flex;
    gap: 12px;
  }
  
  .hannah-footer-wrapper {
    padding-top: 32px;
    border-top: 1px solid rgb(255, 3, 3);
    margin-top: 32px;
  }
  
  .hannah-footer {
    display: flex;
    justify-content: space-between;
  }
  h1 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
  }
.hannah-intro h1 {
    font-size: clamp(3rem, 1rem + 10vw, 4rem);
    text-align: center;
    animation-name: SlideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
  }
  h2 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    color: #ff0048;
  }
  p {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    color: #ff0048;
  }
  li {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    color: #ff0048;
  }
  a {
    color: #ff0048;
  }